.tile {
    // Styles for the tile
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 40px;
    border: 1px solid black;
    color: black;
    background-color: cyan;
}
  
.empty {
    // Styles for the empty space
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 40px;
    border: 1px solid white;
    color: white;
    background-color: white;
}
  